#primary {
	background-color: #242841 !important;
}

/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
    margin: 0;
}

::-webkit-input-placeholder {
   color: #fff;
   font-size: 22px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;
   font-size: 22px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
   font-size: 22px;
}

:-ms-input-placeholder {  
   color: #fff;
   font-size: 22px;
}

#booking-form {
	width: 500px;
}

#booking-form h2, 
#booking-form h3,
#booking-form p,
#booking-form span,
#booking-form a {
	font-family: "Open Sans";
	color: #525252;
}

#booking-form h2,
#booking-form h3 {
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;	
}

#booking-form h3 {
	margin: 0;
}

#booking-form {
	background-color: transparent;
}

#booking-form header {
	background-color: #fff;
}

#booking-form header {
	padding: 20px 30px;
}

#booking-form .item-con {
	margin: 1px;
	padding: 20px 30px;
	background-color: rgba(27, 30, 47, .5);
	position: relative;
	min-height: 80px;
}

#booking-form div span.icon {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
}

#booking-form #origin-con span.icon {
	background: transparent url(../img/pickup_icon.png) no-repeat left center;
}

#booking-form #destination-con span.icon {
	background: transparent url(../img/dropoff_icon.png) no-repeat left center;
}

#booking-form #date-con span.icon {
	background: transparent url(../img/datetime_icon.png) no-repeat left center;
}

#booking-form #vehicle-type-con span.icon {
	background: transparent url(../img/car_icon.png) no-repeat left center;
}

#booking-form #baby-seats-con span.icon {
	background: transparent url(../img/babyseat_icon.png) no-repeat left center;
}

#booking-form input[type=text] {
	background: none;
	border: none;
	color: #fff;
	font-size: 22px;
	width: 100%;
	padding-left: 40px;
}

#booking-form #airport-type-con {
	padding: 0;
}

#booking-form #airport-type-con label {
	float: right;
	width: 50%;
	color: #fff;
	font-size: 22px;
	text-align: center;
	cursor: pointer;
	padding: 20px 0 20px;
}

#booking-form #airport-type-con label:first-child {
	float: left;
	border-right: 1px solid #242940;
}

#booking-form #airport-type-con label.active {
	background-color: #83429e;
}

#booking-form #airport-type-con input[type=radio] {
	display: none;
}

#booking-form footer #book-now {
	background-color: #7C4096;
}

#booking-form #airport-type-con {
	display: none;
}

#quote-result {
	background-color: #fff;
}

#quote-result-left {
	float: left;
	width: 60%;
	padding: 30px 0 30px 30px;
}

#quote-result-left p {
	background-color: #fff;
	margin: 10px 0 0;
	padding: 0;
	font-size: 12px;
}

#quote-result-right {
	float: right;
	width: 40%;
	text-align: right;
	font-size: 36px;
	line-height: 116px;
	padding-right: 30px;
} 

#metadata {
	background-color: rgba(27, 30, 47, .5);
}

#metadata div {
	width: 50%;
	padding: 20px 0 20px;
	text-align: left;
	color: #fff;
}

#metadata div#duration {
	float: left;
	background: transparent url(../img/duration_icon.png) no-repeat 32px center;
	padding-left: 70px;
}

#metadata div#distance {
	float: left;
	background: transparent url(../img/distance_icon.png) no-repeat left center;
	padding-left: 38px;
}

#metadata div span {
	color: #fff;
}

p#book-now {
	padding: 0;
	margin: 0;
}

p#book-now a {
	padding: 15px 20px;
	display: block;
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

p#book-now a:hover {
	text-decoration: none;
}

#date-con,
#hour-con,
#minute-con,
#am-pm-con {
	float: left;
}

#date-con #date-dropdown,
#hour-con #hour-dropdown,
#minute-con #minute-dropdown,
#am-pm-con #am-pm-dropdown,
#vehicle-type-con #vehicle-type-dropdown {
	display: none;
}

#date-con .ffSelectWrapper {
	width: 150px;
	margin-left: 40px;
	margin-right: 15px;
}

#date-con .ffSelectMenuMid,
#hour-con .ffSelectMenuMid,
#minute-con .ffSelectMenuMid,
#vehicle-type-con .ffSelectMenuMid {
	padding-left: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 2px #000;
	-moz-box-shadow: 0 1px 2px #000;
	box-shadow: 0 1px 2px #000;
}

#date-con li,
#hour-con li,
#minute-con li,
#am-pm-con li,
#vehicle-type-con li {
	padding: 5px 0px 5px 10px;
}

#date-con .ffSelect > a > span {
	margin-right: 0 !important;
	font-size: 22px;
	color: #fff;
	width: 150px;
	padding-left: 0;
	padding-right: 30px;
}

#hour-con .ffSelectWrapper,
#minute-con .ffSelectWrapper {
	width: 60px;
	margin-right: 15px;
}

#hour-con .ffSelect > a > span,
#minute-con .ffSelect > a > span {
	margin-right: 0 !important;
	font-size: 22px;
	color: #fff;
	width: 60px;
	padding-left: 0;
	padding-right: 30px;
}

#am-pm-con .ffSelectWrapper {
	width: 65px;
	margin-right: 15px;
}

#am-pm-con .ffSelect > a > span {
	margin-right: 0 !important;
	font-size: 22px;
	color: #fff;
	width: 65px;
	padding-left: 0;
	padding-right: 30px;
}

#vehicle-type-con .ffSelectWrapper {
	margin-left: 40px;
	margin-right: 15px;
}


#vehicle-type-con .ffSelect > a > span {
	margin-right: 0 !important;
	font-size: 22px;
	color: #fff;
	padding-left: 0;
	padding-right: 30px;
}