/* For modern browsers */
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
    zoom:1;
    margin: 0;
}

::-webkit-input-placeholder {
   color: #A5AABF;
   font-size: 22px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #A5AABF;
   font-size: 22px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #A5AABF;
   font-size: 22px;
}

:-ms-input-placeholder {  
   color: #A5AABF;
   font-size: 22px;
}

#booking-form {
	width: 515px;
}

#booking-form h2, 
#booking-form h3,
#booking-form p,
#booking-form span,
#booking-form a {
	font-family: "Open Sans";
	color: #525252;
	font-weight: normal;
}

#booking-form h2,
#booking-form h3 {
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;	
}

#booking-form h3 {
	margin: 0;
}

#booking-form {
	background-color: transparent;
}

#booking-form header {
	background-color: #fff;
}

#booking-form header {
	padding: 20px 30px;
}

#booking-form .item-con {
	margin: 1px;
	padding: 15px 30px;
	background-color: rgba(27, 30, 47, .9);
	position: relative;
	min-height: 65px;
}

#booking-form div span.icon {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	top: 14px;
}

#booking-form #origin-con span.icon {
	background: transparent url(../img/pickup_icon.png) no-repeat left center;
}

#booking-form #destination-con span.icon {
	background: transparent url(../img/dropoff_icon.png) no-repeat left center;
}

#booking-form #date-con span.icon {
	background: transparent url(../img/datetime_icon.png) no-repeat left center;
}

#booking-form #vehicle-type-con span.icon {
	background: transparent url(../img/car_icon.png) no-repeat left center;
}

#booking-form #baby-seats-con span.icon {
	background: transparent url(../img/babyseat_icon.png) no-repeat left center;
}

#booking-form input[type=text] {
	background: none;
	border: none;
	color: #fff;
	font-size: 22px;
	width: 100%;
	padding-left: 40px;
}

#booking-form #airport-type-con {
	padding: 0;
	min-height: 0;
}

#booking-form #airport-type-con label {
	float: right;
	width: 50%;
	color: #fff;
	font-size: 22px;
	text-align: center;
	cursor: pointer;
	padding: 10px 0 10px;
}

#booking-form #airport-type-con label:first-child {
	float: left;
	border-right: 1px solid #242940;
}

#booking-form #airport-type-con label.active {
	background-color: #83429e;
}

#booking-form #airport-type-con input[type=radio] {
	display: none;
}

#booking-form footer #book-now {
	background-color: #7C4096;
}

#booking-form #airport-type-con {
	display: none;
}

#quote-result {
	background-color: #fff;
}

#quote-result-left {
	float: left;
	width: 60%;
	padding: 30px 0 30px 30px;
}

#quote-result-left p {
	background-color: #fff;
	margin: 10px 0 0;
	padding: 0;
	font-size: 12px;
}

#quote-result-right {
	float: right;
	width: 40%;
	text-align: right;
	font-size: 36px;
	line-height: 116px;
	padding-right: 30px;
} 

#metadata {
	background-color: rgba(27, 30, 47, .5);
}

#metadata div {
	width: 50%;
	padding: 20px 0 20px;
	text-align: left;
	color: #fff;
}

#metadata div#duration {
	float: left;
	background: transparent url(../img/duration_icon.png) no-repeat 32px center;
	padding-left: 70px;
}

#metadata div#distance {
	float: left;
	background: transparent url(../img/distance_icon.png) no-repeat 40px center;
	padding-left: 78px;
}

#metadata div span {
	color: #fff;
}

p#book-now {
	padding: 0;
	margin: 0;
}

p#book-now a {
	padding: 15px 20px;
	display: block;
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

p#book-now a:hover {
	text-decoration: none;
}


/* Custom Dropdowns
************************************************************/

#booking-form .dropdown.scrollable div {
	-webkit-box-shadow: 0 1px 1px #696969;
	-moz-box-shadow: 0 1px 1px #696969;
	box-shadow: 0 1px 1px #696969;
}

#booking-form select.dropdown {
	display: none;
}

#booking-form .dropdown ul {
	padding: 0;
	margin: 0;
}

#booking-form .dropdown ul li {
	border-top: 1px dotted #ccc;
}

#booking-form .dropdown li.active,
#booking-form .dropdown li:hover,
#booking-form .dropdown li:focus {
	background: #7C4096;
}

#date-con,
#hour-con,
#minute-con,
#am-pm-con {
	float: left;
	margin-left: 10px;
}

#date-con {
	margin-left: 0;
}

#date-con .dropdown {
	width: 150px;
	margin-left: 43px;
}

#hour-con .dropdown,
#minute-con .dropdown {
	width: 75px;
}

#am-pm-con .dropdown {
	width: 80px;
}

#vehicle-type-con .dropdown {
	margin-left: 43px;
}

#baby-seats-con .icon {
	top: 15px;
}

#babyseats-label {
	float: left;
	color: #fff;
	font-size: 22px;
	margin-left: 40px;
	margin-top: 4px;
}

#babyseats-controls {
	float: right;
	margin-top: 5px;
}

.carat-up,
.carat-down {
	display: block;
	width: 25px;
	height: 28px;
	float: left;
	cursor: pointer;
}

.carat-up:active,
.carat-down:active {
	background-position: 0 8px;
}

.carat-up {
	background: url(../img/up_icon.png) no-repeat 0 7px;
}

.carat-down {
	background: url(../img/down_icon.png) no-repeat 0 7px;
}

#booking-form #baby-seats {
	width: 35px;
	padding: 0;
	float: left;
	margin: 0 25px;
	text-align: center;
}